#historyList li {
    list-style: none;
    margin-bottom: 5px;
    border-bottom: 3px solid #797979;
    padding-bottom: 5px;
}

#historyList li:nth-child(2n) {
    background-color: #0000006b;
}

.historyRacerPlacingContainer {
    display: inline-block;
    border: 1px solid #686868;
    margin-right: 5px;
    padding: 0px 5px 0px 0px;
    border-radius: 3px;
    position: relative;
    font-size: 10px;
}

.historyRacerPlacingContainer:nth-child(2) { opacity: 0.9; }
.historyRacerPlacingContainer:nth-child(3) { opacity: 0.8; }
.historyRacerPlacingContainer:nth-child(4) { opacity: 0.7; }
.historyRacerPlacingContainer:nth-child(5) { opacity: 0.6; }
.historyRacerPlacingContainer:nth-child(6) { opacity: 0.5; }
.historyRacerPlacingContainer:nth-child(7) { opacity: 0.4; }
.historyRacerPlacingContainer:nth-child(8) { opacity: 0.3; }
.historyRacerPlacingContainer:nth-child(n+9) { opacity: 0.2; }

.historyRacerPlacingContainer div {
    display: inline-block;
}

.historyRacerPlacingContainer .historyRacerPlacing {
    border: 1px solid black;
    margin-right: 4px;
    padding: 2px;
    background-color: black;
}

.historyRacerId {
    margin-left: 5px;
    background-color: #CCCCCC91;
    color: #313131;
    padding: 0px 5px;
}

li .historyRacerPlacingContainer {
    min-width: 140px;
    position: relative;
}

li .historyRacerPlacingContainer .historyRacerPlacing {
    z-index: 10;
    display: none;
}

li .historyRacerPlacingContainer .racerName {
    z-index: 11;
    display: block;
    position: absolute;
    top: 5%;
    left: 10%;
    right: 10%;
    overflow-x: hidden;
    bottom: 5%;
    text-align: center;
    font-size: 8px;
}

